.container{
    display:flex;
    flex-direction: column;
    margin:auto;
    margin-top:20px;
    margin-bottom:20px;
    width:600px;
    background:#00000067;
    /*background:rgb(98, 97, 97);*/
    background-size: cover;
    padding-bottom:30px;
    border-radius:15px;
    /*border: 2px solid black;*/
}
.header{
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:9px;
    width:100%;
    margin-top:30px;
}
.text{
    color: rgb(0, 0, 0);
    font-size:48px;
    font-weight: 700;
}


.Linputs{
    margin-top:55px;
    display:flex;
    flex-direction:column;
    gap:25px;
}
.Linput{
    display:flex;
    align-items:center;
    justify-content: center;
    margin:auto;
    width: 480px;
    height:80px;
    background:#eaeaea;
    border-radius:6px;
    border: 2px solid black;
}
.Linput img{
    margin: 0px 30px;
}
.Linput input{
    height:50px;
    width:400px;
    background:transparent;
    border:none;
    outline:none;
    color:#000000;
    font-size: 19px;
}

.submit-container{
    display:flex;
    align-items:center;
    justify-content: center;
    margin:auto;
    width: 480px;
    height:80px;
}
.submit{
    display:flex;
    justify-content:center;
    align-items:center;
    width:150px;
    height:59px;
    color:#eaeaea;
    background:#000000;
    border-radius:50px;
    font-size:19px;
    font-weight:700;
    cursor:pointer;
}
.gray{
    background:#eaeaea;
    color:#676767;
}
.hidden{
    display: none;
}
.dialog1{
    display:flex;
    align-items:center;
    justify-content: center;
    margin:auto;
}
.dialog1 p{
    color: red;
    font-style: italic;
    font-weight: bold;
}
.dialog2{
    display:flex;
    align-items:center;
    justify-content: center;
    margin:auto;
}
a:hover{
    color: rgb(255, 255, 255);
}
.submit-btn{
    display: block;
    width: 80%;
    padding: 10px;
    font-size: 18px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
}
.submit-btn:hover{
    border: 2px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
}
.link{
    color: rgb(0, 0, 0);
    font-size: 25px;
    cursor: pointer;
}
.link2{
    color: rgb(255, 0, 247);
    font-size: 25px;
    cursor: pointer;
}
.link:hover{
    color: rgb(0, 255, 255);
    font-size: 25px;
}
.response{
    align-items:center;
    justify-content: center;
    margin:auto;
}
.dialog{
    display:flex;
    align-items:center;
    justify-content: center;
    margin:auto;
}


