/* Add a black background color to the top navigation */
.topnav {
    text-align: center;
    background-color: #333;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1em; /* Adjusted font size using relative unit */
}

/* Change the color of links on hover */
.topnav a.active:hover{
    background-color: #0080ff;
    color: rgb(255, 255, 255);
}

/* Add a color to the active/current link */
.topnav a.active {
    color: white;
    /*border-radius:0px 5px 5px 0px ;*/
}

.topnav div.logOut{
    float: right;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1em; /* Adjusted font size using relative unit */
    background-color: #000000;
    color: white;
    /*border-radius:5px 0px 0px 5px ;*/
}
.topnav div.logOut:hover{
    background-color: rgb(255, 255, 255);
    color: black;
}

.topnav div.userData{
    float: right;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1em; /* Adjusted font size using relative unit */
    background-color: #000000;
    color: white;
    /*border-radius:5px 0px 0px 5px ;*/
}
