#Clist{
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow-y: auto;
    max-height: 500px;
    border: 2px solid black;
    border-radius: 5px;
}
/*To disable scrollbar*/
#Clist::-webkit-scrollbar{ width: 0;}
#Clist{ overflow: -moz-scrollbars-none; }
#Clist{ -ms-overflow-style: none; }
/*---------------------------------------------------*/
#Clist li{
    border: 1px solid #000000; /* Add a border to all links */
    margin-top: -1px; /* Prevent double borders */
    background-color: #f6f6f6af; /* Grey background color */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove default text underline */
    font-size: 18px; /* Increase the font-size */
    color: black; /* Add a black text color */
    display: block; /* Make it into a block element to fill the whole list */
    width:500px;
  }
  #Clist li:hover:not(.header) {
    background-color: #000000b7; /* Add a hover effect to all links, except for headers */
    color: white;
    font-size: 20px;
  }
  
  .box{
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Horizontal centering */
    justify-content: center; /* Vertical centering */
  }
  .Cinput{
    display:flex;
    align-items:center;
    margin:auto;
    width: 525px;
    height:50px;
    background:#eaeaea;
    border-radius:6px;
    border: 2px solid black;
}


.Cinput input{
    height:50px;
    width:400px;
    background:transparent;
    border:none;
    outline:none;
    color:#797979;
    font-size: 19px;
    transition: font-size 0.3s ease; /* Add transition for font size */
    
}
.Cinput img{
  margin: 0px 10px;
  width: 7%;
}

.Cinput:hover {
  background-color: #000000cc; /* Change the background color on hover */
  transform: scale(1.05);
}

  
.Cinput input:hover {
  font-size: 25px; /* Increase font size on hover */
}

h4{
  color: black;
}
h4:hover{
  color: white;
}


/* Maintenance.css */
/* Style for the input box */
#Complaint {
  width: 502px;
  height: 200px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  border: 2px solid black;
  font-size: 16px;
  margin-bottom: 10px;
}

/* Style for the placeholder */
#Complaint::placeholder {
  color: #999;
  font-style: italic;
}
#ComplaintBox{
  width: 525px;
  height: 300px;
}

/* Style for the submit button */
#ComplaintBox button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#ComplaintBox button:hover {
  background-color: #0056b3;
}

/* Optional: Style for the form label */
#ComplaintBox label {
  font-weight: bold;
}
textarea{
  resize: none;
}








