body {
  margin:0;
  overflow: hidden;/*THIS WILL PREVENT SCROLLIMG*/
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height:100vh;/*i changed 100vh to 100%*/
  /*background:url("https://img.freepik.com/free-vector/gradient-abstract-motion-background_23-2149121881.jpg?w=996&t=st=1703261819~exp=1703262419~hmac=f58153bdf70b92dc7571d6e179970fff6f122e757953a6e93124199e87f26076") no-repeat fixed;*/
  background:url("C:\Users\sayoo\programming\node\login-signup\login-signup\src\Components\Assets\background.jpg") no-repeat fixed;
  background-size: cover;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
